/*  */
:root {
    --primary-color: #0185f2;
    --white: #fff;
    --black-100: #f6f6f6;
    --black-300: #dcdcdc;
    --black-500: #7d7d7d;
    --black-800: #1e1e1e;
    --black: #000;
    --yellow: #dcd900;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea {
    outline: none
}

img {
    vertical-align: bottom
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--primary-color);
}

/* 全局 */
html{
    font-size:62.5%;
}
body {
    font-family: Helvetica, Arial, PingFang SC, Hiragino Sans GB, Source Han Sans CN, Roboto, Microsoft Yahei, sans-serif;
    /* font-size:62.5%; */
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
    color: var(--black-800);
    background-color: var(--white);
}

#app {
    color: var(--black);
    background-color: transparent;
    width: 100%;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

#header {}

#header a {
    color: var(--black);
    font-weight: 700;
}

#header a:hover,
#header a.active {
    color: var(--primary-color);
}

#main-body {}

#sub-nav {
    background-color: var(--black-100);
}

#sub-nav a {
    color: var(--black-800);
}

#sub-nav a:hover {
    color: var(--black);
}

#toutiao {}

#main-content {}

#news-list {}

#sidebar {}

#footer {
    color: var(--black-500);
}

#footer a {
    color: var(--black-500);
}

#footer a:hover {
    color: var(--white);
}

#footer .footer-nav {
    background-color: var(--black-800);
}

#footer .footer-copyright {
    background-color: var(--black);
}

.block-balck {
    color: var(--white);
    background-color: var(--black);
}

.block-gray {
    background-color: var(--black-300);
}

.responsive-img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
h1{
    font-size:3rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.6rem;
}
p{
    font-size:1.6rem;
}
.small-text{
    font-size: 1.4rem;
}
/***************header.hide-small*************/
header.hide-small {}


/***************header.hide-big*************/
.hide-big {
    display: none;
}


/*************sub-nav***************/


/**************toutiao**************/
#toutiao .col,
#toutiao .col .tt-item {
    flex-basis: 50%;
}

#toutiao .tt-item {
    position: relative;
    ;
}

#toutiao .tt-text {
    position: absolute;
    left: 0;
    bottom: 50px;
}


/************#main-content****************/
#main-content .flex main {
    /* width:855px; */
    flex-basis: 855px;
    background-color: pink;
}

#main-content .flex aside {
    /* width:275px; */
    flex-basis: 275px;
    background-color: yellow;

}

/************news-list****************/


/*************sidebar***************/


/*************footer-nav***************/


/*************footer-copyright***************/


/****************************/