/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈数黑体 Bold";font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/zzWcgApOpETl/W0AtMnAi7rKbEOD__-zc4.woff2") format("woff2"),
         url("//at.alicdn.com/wf/webfont/zzWcgApOpETl/hesKxXpL_u5dg_x21xMrM.woff") format("woff");
    font-display: swap;
  }

/************** 重置浏览器默认样式 *************/
/* https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421 */
/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --black-100: #f7f7f7;
    --black-400: #ced4da;
    --black-500: #adb5bd;
    --black-800: #343a40;
    --black: #000;
    --main-color:#00a78e;
    --shadow-black-100:0 5px 15px rgba(0,0,0,0.2);
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    font-family: Helvetica,Arial,'PingFang SC','Hiragino Sans GB','Source Han Sans CN','Roboto,Microsoft Yahei','sans-serif';
    font-size:16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--black-100) ;
    color:var(--black-800);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img
{
    vertical-align: middle;
}

/****************全局样式**************/
.container{
    width:1200px;
    margin:0 auto;
}
.section{
    padding:80px 0;
    min-height: 100vh;
}
.row{
    border:1px solid blue;
}
.section:nth-child(even){
    background-color: var(--white);
    color: var(--black-800);
}
.section-title span{
    color:var(--black-500);
}
.section-title h2{
    color:var(--main-color);
}
.small{
    font-size: 0.875rem;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.flexbasis50{
    flex-basis: 50%;
    border:1px solid red;
}


/****************header**************/
header{
    position:fixed;
    z-index:999;
    left:0;
    top:0;
    width:100%;
    padding:25px;
    /* background-color: pink; */
}
header .row{
    justify-content: space-between;
}
header .logo{
    /* background-color: red; */
}
header .logo a
{
    color: var(--main-color);
}
header .logo a i
{
    font-size: 2em;
    padding-bottom:5px;
}
header .logo a span
{
    font-family: "阿里妈妈数黑体 Bold";
    font-size: 1.5em;
}
header .navbar{
    flex-basis:60%;
    background-color: yellow;
}
header .navbar nav{
    justify-content: space-between;
    position:relative;
}

header nav a{
    color: var(--white);
    font-weight: 600;
    padding: 10px 0;
    background-color: blue;
}
header nav span{
    position: absolute;
    z-index: 9999;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 2px;
    border-radius: 50px;
    background-color: var(--main-color);
    /* opacity: 0; */
    /* visibility: hidden; */
    transition: all 0.3s ease-out 0s;
}
header.sticky{
    padding: 12px 25px;
    background-color: var(--white);
    box-shadow: var(--shadow-black-100);
}
header.sticky nav a{
    color: var(--main-color);
}

/*===== Home =====*/
#home
{
    /*position: relative;*/
    background-color: var(--black-100);
    z-index: 1;
    overflow-x: hidden;
}
#home .home-text h1{
    letter-spacing: 4px;
    color: var(--main-color);
    font-family: "阿里妈妈数黑体 Bold";
}
#home .home-text{
    
}
#home .home-img img{
    width:100%;
    position:relative;
    bottom:-80px;
}
















